* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

body {
font-family: Arial, sans-serif;
color: rgb(80, 75, 80);
}
.sidebar {
position: fixed;
left: 0;
top: 0;
width: 20%;
height: 100vh;

background-color: rgb(107, 82, 97);

text-align: center;
}

.sidebar img {
width: 150px;
height: 150px;

border-radius: 50%;

border: 8px solid rgb(163, 155, 161);

margin-top: 80px;
margin-bottom: 30px;

}

.sidebar a {
display: block;

text-decoration: none;

color: white;

margin-top: 25px;

font-size: 14px;

font-weight: bold;

}

.sidebar a:hover {
color: black;
}

.content {
margin-left: 20%;

height: 100vh;

overflow-y: scroll;

padding: 80px;

}

.section {
min-height: 100vh;

padding-top: 40px;
padding-bottom: 50px;

}


.font1 {
font-family: "Rye", serif;

font-size: 60px;

font-weight: 400;

color: rgb(80, 75, 80);

}

.font1 span {
color: rgb(107, 82, 97);
}

.address {
margin-top: 15px;


font-size: 14px;

}

.address a {
color: rgb(107, 82, 97);

text-decoration: none;

margin-left: 10px;


}

.about p {
margin-top: 30px;

max-width: 850px;

line-height: 1.8;

}

.social {
margin-top: 30px;
}

.social a {
text-decoration: none;

color: rgb(107, 82, 97);

margin-right: 20px;

font-weight: bold;

}

.icon img:hover {
color: rgb(107, 82, 97) ;
}

h2 {
color: rgb(107, 82, 97);

font-size: 35px;

margin-bottom: 50px;

}

.item {
display: flex;

justify-content: space-between;

margin-bottom: 60px;

max-width: 900px;

}

.item-text {
width: 75%;
}

.item-text h3 {
margin-bottom: 10px;
}

.item-text h4 {
margin-bottom: 15px;

color: rgb(120, 115, 120);

}

.item-text p {
line-height: 1.7;

margin-top: 10px;


}

.date {
color: rgb(107, 82, 97);

font-weight: bold;


}

.skills {
margin-top: 25px;


margin-bottom: 50px;


}

.skills span {
display: inline-block;

background-color: rgb(107, 82, 97);

color: white;

padding: 10px 15px;

margin: 5px;

border-radius: 5px;

}

.workflow-heading {
margin-top: 30px;
}

ul {
margin-left: 25px;

line-height: 2;


}


#interests p {
max-width: 850px;


line-height: 1.8;

margin-bottom: 25px;


}

.award {
margin-bottom: 40px;


max-width: 850px;


}

.award p {
line-height: 1.7;
}

.icon{
  width: 60px;
  height: 60px;
  border-radius: 50%; 
}

.headings{

  font-family: Gravitas One , serif;
  font-weight: 400;
  font-style: normal;


}

.skill{
  width: 50px;
  height: 50px;
  background-color: white;
  color: rgb(143, 142, 142);

}


